// Info variables
$infoBackground: #40c4FF;
$infoAccents: white;
// Error variables
$errorBackground: #F44336;
$errorAccents: white;
// Success variables
$successBackground: #4CAF50;
$successAccents: white;
// Warning variables
$warningBackground: #FFEB3B;
$warningAccents: black;


.toaster__container {
  position: fixed;
  height: auto;
}

.toaster__toast {
  transition: opacity 0.5s linear;
  box-shadow: 0 4px 8px #B0BEC5;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  width: 300px;
  opacity: 0;

  &.opaque {
    opacity: 1;
  }

  &.info {
    border: 1px solid $infoAccents;
    background: $infoBackground;
    color: $infoAccents;
  }
  &.error {
    border: 1px solid $errorAccents;
    background: $errorBackground;
    color: $errorAccents;
  }
  &.success {
    border: 1px solid $successAccents;
    background: $successBackground;
    color: $successAccents;
  }
  &.warning {
    border: 1px solid $warningAccents;
    background: $warningBackground;
    color: $warningAccents;
  }
}

.toaster__toast-icon-container {
  margin: 10px;
}

.toaster__toast-icon {
  height: 30px;
  width: 30px;
}

.toaster__toast-content-container {
  margin: 10px;
}

.toaster__toast-title {
  font-weight: bold;
  padding: 2px 0;
}

.toaster__toast-message {}

.toaster__toast-actions {}
